In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Import files for sentiment analysis
path = r'C:/Users/Chris/OneDrive/Desktop/Data/Lazada Reviews' 
df = pd.read_csv(path + '//Lazada_Reviews.csv')
print(df)

        Unnamed: 0                                        review_text  \
0                0  This app is a big step in right direction - gr...
1                1  This is what I have been looking for. Now I ca...
2                2  Its a great way of shopping online. But please...
3                3                       Thanks lazada for this app!!
4                4                                        Good app ;)
...            ...                                                ...
775318      775318                                               nice
775319      775319                                               Nice
775320      775320                                 thanks super sulit
775321      775321  1 of the best online shopping app because of t...
775322      775322                                               Good

        review_rating              author_id    author_name  \
0                   5  109329*********902682  A Google user
1                   5  109886*********190000  A Google user
2                   1  114358*********899063  A Google user
3                   5  108006*********600292  A Google user
4                   5  110676*********237626  A Google user
...               ...                    ...            ...
775318              5  105611*********908291  A Google user
775319              5  108460*********801893  A Google user
775320              5  109168*********063517  A Google user
775321              5  112557*********329849  A Google user
775322              5  104025*********727802  A Google user

       author_app_version       review_datetime_utc  review_likes
0                     1.0  2013-06-09T08:34:37.000Z             2
1                     1.0  2013-06-09T09:29:25.000Z             0
2                     1.0  2013-06-09T10:19:39.000Z             0
3                     1.0  2013-06-10T02:24:14.000Z             0
4                     1.0  2013-06-10T02:35:53.000Z             0
...                   ...                       ...           ...
775318                NaN  2023-11-13T14:35:46.000Z             0
775319             7.37.0  2023-11-13T14:39:25.000Z             0
775320                NaN  2023-11-13T14:41:47.000Z             0
775321             7.37.0  2023-11-13T14:44:35.000Z             0
775322                NaN  2023-11-13T14:45:41.000Z             0

[775323 rows x 8 columns]

In [10]:
# Rename columns for readability
df = df.rename(columns = {'Unnamed: 0' : 'id'})

In [15]:
# Fix data types
print(df.dtypes)
df['review_datetime_utc'] = pd.to_datetime(df['review_datetime_utc'], format = '%Y-%m-%dT%H:%M:%S.000Z')
print(df.dtypes)

id                              int64
review_text                    object
review_rating                   int64
author_id                      object
author_name                    object
author_app_version             object
review_datetime_utc    datetime64[ns]
review_likes                    int64
dtype: object
id                              int64
review_text                    object
review_rating                   int64
author_id                      object
author_name                    object
author_app_version             object
review_datetime_utc    datetime64[ns]
review_likes                    int64
dtype: object

In [16]:
df

,id,review_text,review_rating,author_id,author_name,author_app_version,review_datetime_utc,review_likes
0,0,This app is a big step in right direction - gr...,5,109329*********902682,A Google user,1.0,2013-06-09 08:34:37,2
1,1,This is what I have been looking for. Now I ca...,5,109886*********190000,A Google user,1.0,2013-06-09 09:29:25,0
2,2,Its a great way of shopping online. But please...,1,114358*********899063,A Google user,1.0,2013-06-09 10:19:39,0
3,3,Thanks lazada for this app!!,5,108006*********600292,A Google user,1.0,2013-06-10 02:24:14,0
4,4,Good app ;),5,110676*********237626,A Google user,1.0,2013-06-10 02:35:53,0
...,...,...,...,...,...,...,...,...
775318,775318,nice,5,105611*********908291,A Google user,NaN,2023-11-13 14:35:46,0
775319,775319,Nice,5,108460*********801893,A Google user,7.37.0,2023-11-13 14:39:25,0
775320,775320,thanks super sulit,5,109168*********063517,A Google user,NaN,2023-11-13 14:41:47,0
775321,775321,1 of the best online shopping app because of t...,5,112557*********329849,A Google user,7.37.0,2023-11-13 14:44:35,0
775322,775322,Good,5,104025*********727802,A Google user,NaN,2023-11-13 14:45:41,0